* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto" !important;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* Container for the entire page */
.page-container {
  display: flex;
}

/* Container for the itinerary */
.itinerary-container {
  flex: 1; /* Make the itinerary container take up remaining space */
  padding: 20px;
  background: #f2e8d0;
}

/* Container for the activity cards on the right */
.activity-container {
  flex: 1;
  padding: 17px 50px 0px 55px;
  overflow-y: auto; /* Enable vertical scrolling for activities */
  max-height: 1200px; /* Set a maximum height for the activity container */
  background: white;
}

/* Style for each individual activity card */
.activity-card {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.filter-buttons {
  margin-bottom: 20px;
}

.filter-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4f6369;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button.active {
  background-color: #8da387;
}

.filter-button:hover {
  background-color: #333;
}



