* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto" !important;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* You can adjust this alignment as needed */
}

/* Container for the entire page */
.page-container {
  display: flex;
}

/* Container for the itinerary */
.itinerary-container {
  flex: 1; /* Make the itinerary container take up remaining space */
  padding: 20px; /* Add padding for spacing */
  background: #f2e8d0;
}

/* Container for the activity cards on the right */
.activity-container {
  flex: 1;
  padding: 17px 50px 0px 55px; /* Add padding to the activity container */
  overflow-y: auto; /* Enable vertical scrolling for activities */
  max-height: 1200px; /* Set a maximum height for the activity container */
  background: white;
}

/* Style for each individual activity card */
.activity-card {
  margin-bottom: 20px; /* Add margin between activity cards */
  padding: 10px; /* Add padding to each activity card */
  /* border: 1px solid #ddd; Add a border for better separation */
  background-color: #fff; /* Add a background color for clarity */
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}


