.navbar {
  height: 5rem;
  font-size: 22px;
  font-family: Roboto;
  background: #8da387;
  display: flex;
  justify-content: space-between; /* Align items to the ends */
  align-items: center; /* Vertically center children */
  padding: 0 2rem; /* Add padding to space out the content */
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: whitesmoke;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid whitesmoke;
}

.navbarContent {
  display: flex;
  justify-content: space-between; /* Spacing between app name and links */
  align-items: center; /* Vertically center children */
}

.appName {
  padding: 20px 50px 6px 10px;
  font-family: 'PT Serif', serif;
  color: white;
  font-size: 37px;
}

.navbarLinks {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 40px;
  margin: 120px;
  font-size: 20px;
}

.login {
  padding: 0px 0px 0px 550px;
}